{% extends "base.html" %}
{% block title %}Тест{% endblock %}

{% block content %}
{{ super() }}
<div class="dl">
  <div class="preloader">
    <div class="preloader__row">
      <div class="preloader__item"></div>
      <div class="preloader__item"></div>
    </div>
  </div>

	<div class="navigation-wrap bg-light start-header start-style">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light">

						<h3><a class="navbar-brand" href="#" target="_blank"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-seam" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
</svg> Strike. Дневник</h3></a>

						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto py-4 py-md-0">
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
									<a class="nav-link  font-weight-bold dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Помощь</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Для учеников</a>
										<a class="dropdown-item" href="#">Для учителей</a>
									</div>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
									<a class="nav-link  font-weight-bold dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Возможности</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Для учеников</a>
										<a class="dropdown-item" href="#">Для учителей</a>
									</div>
                                </li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link  font-weight-bold dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Язык</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">UZ</a>
										<a class="dropdown-item" href="#">RU</a>
									</div>
								</li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link font-weight-bold" href="#">Войти</a>
								</li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link font-weight-bold" href="#">Подключиться</a>
								</li>
							</ul>
						</div>

					</nav>
				</div>
			</div>
		</div>
	</div>

<div class="shadow-title parallax-top-shadow">thestrikem</div>
<div class="section-parallax parallax-00" style="background-image: url('http://www.ivang-design.com/svg-load/parallax/parallax-0.png');"></div>
<div class="section-parallax parallax-01" style="background-image: url('http://www.ivang-design.com/svg-load/parallax/parallax-01.png');"></div>

	<div class="section full-height">
		<div class="absolute-center">
			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
				<div class="containertyp">
                        <div class="container text-center"><img width="250" height="250" src="static/img/notebook.png" alt=""></div>

                        <br>
                        <p >Strike. Дневник<span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
                </div>
				<p class="h3 text-light text-muted">Лучшая платформа для учеников и учителей!</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section mt-5">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div id="switch">
								<div id="circle"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="background-linear">Privet</div>
</div>
    <div style="padding: 3px" class="container-fluid bg-dark"></div>

    <div class="container-fluid bg-light">
    <div class="section full-height z-bigger">
        <h1 ></h1>
              <ul class="case-study-wrapper">
                <li class="case-study-name">
                  <a href="#" class="hover-target">Для учеников</a>
                </li>
                <li class="case-study-name">
                  <a href="#" class="hover-target">Для учителей</a>
                </li>
                <li class="case-study-name">
                  <a href="#" class="hover-target">API</a>
                </li>
                <li class="case-study-name">
                  <a href="#" class="hover-target">Telegram бот</a>
                </li>
              </ul>
              <ul class="case-study-images">
                <li>
                  <div class="img-hero-background">
                    <img width="500" height="500" src="https://www.norma.uz/img/6f/ee/ce1f13a2ca53cb4100d84a987d12.png" alt="">
                  </div>
                  <div class="hero-number-back text-dark">01</div>
                  <div class="hero-number text-dark">01</div>
                  <div class="hero-number-fixed text-dark">04</div>
                  <div class="case-study-title text-dark">Нажмите кнопку "Войти" в верхнем меню и далее следуйте иструкции.</div>
                </li>
                <li>
                  <div class="img-hero-background">
                    <img width="500" height="500" src="https://allpage.uz/upl/posts/2019-06/1559981789_2f9eb8a2366d7e1b0fa61b5dd3afa.jpg" alt="">
                  </div>
                  <div class="hero-number-back text-dark">02</div>
                  <div class="hero-number text-dark">02</div>
                  <div class="case-study-title text-dark">Нажмите кнопку "Войти" в верхнем меню и далее следуйте иструкции.</div>
                </li>
                <li>
                  <div class="img-hero-background">
                    <img width="500" height="500" src="https://python-scripts.com/wp-content/uploads/2020/07/pip.png" alt="">
                  </div>
                  <div class="hero-number-back text-dark">03</div>
                  <div class="hero-number text-dark">03</div>
                  <div class="case-study-title text-dark">API from developer's https://api.strikednevnik.com/</div>
                </li>
                <li>
                  <div class="img-hero-background">
                    <img width="3500" height="500" src="https://www.iphones.ru/wp-content/uploads/2017/04/telegram_bot-1240x580.jpg" alt="">
                  </div>
                  <div class="hero-number-back text-dark">04</div>
                  <div class="hero-number text-dark">04</div>
                  <div class="case-study-title text-dark">@strikednevnik</div>
                </li>
              </ul>
            </div>
    <div class="container">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-6">
                <div class="shadow-lg" style="padding: 15px; background-color: #1dcd59; border-radius: 50px">
                <h1 class="text-center"><img width="150" height="150" src="https://www.flaticon.com/svg/static/icons/svg/3782/3782144.svg" alt=""></h1>
                <h1 class="text-center text-dark">Для учеников</h1>
                    <p class="h4 text-light">Море возможностей, система очков, игровые задания, рейтинг, призы, понятные системы и многое другое...</p>
                    </div>
            </div>
            <div class="col-6">
                <div class="shadow-lg" style="padding: 15px; background-color: #f1c40f; border-radius: 50px">
                <h1 class="text-center"><img width="150" height="150" src="https://www.flaticon.com/svg/static/icons/svg/3782/3782133.svg" alt=""></h1>
                <h1 class="text-center text-dark">Для учителей</h1>
                    <p class="h4 text-light">Облегченная проверка домашнего задания, публикая новостей, рейтинги и многое другое...</p>
                    </div>
            </div>
        </div>
    </div>
  <br>
                    <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
  <div style="padding: 30px" class="container">
    <h1 class="display-4">Почему именно мы? <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
  <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
</svg></h1>
    <br>
      <div style="padding: 30px" class="container">
          <div class="row">
              <div style="padding: 20px; border-radius: 15px" class="col-5 bg-light shadow-lg">
                  <h3 class="text-center text-weight text-succes"><img width="100" height="100" src="static/img/wallet.png" alt=""> Бесплатные услуги</h3>
              </div>
              <div class="col-2"></div>
              <div style="padding: 20px; border-radius: 15px" class="col-5 bg-light shadow-lg">
                  <h3 class="text-center  text-weight text-succes"><img width="100" height="100" src="static/img/trade.png" alt=""> Высокая оптимизация</h3>
              </div>
          </div>
          <br>
          <br>
          <div class="row">
              <div style="padding: 20px; border-radius: 15px" class="col-5 bg-light shadow-lg">
                  <h3 class="text-center  text-weight text-succes"><img width="100" height="100" src="static/img/meeting.png" alt=""> Telegram-бот</h3>
              </div>
              <div class="col-2"></div>
              <div style="padding: 20px; border-radius: 15px" class="col-5 bg-light shadow-lg">
                  <h3 class="text-center  text-weight text-succes"><img width="100" height="100" src="static/img/graph.png" alt=""> Элементарно просто</h3>
              </div>
          </div>
          <br>
          <br>
          <div class="row">
              <div style="padding: 20px; border-radius: 15px" class="col-5 bg-light shadow-lg">
                  <h3 class="text-center  text-weight text-succes"><img width="100" height="100" src="static/img/stock.png" alt=""> Мобильная версия</h3>
              </div>
              <div class="col-2"></div>
              <div style="padding: 20px; border-radius: 15px" class="col-5 bg-light shadow-lg">
                  <h3 class="text-center  text-weight text-succes"><img width="100" height="100" src="static/img/tv.png" alt=""> Компьютерная версия</h3>
              </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="container">
           <h1 class="display-4">Сколько нас уже?</h1>
              <br>
              <br>
          <div class="row">
              <div class="col-4">
                  <h1 class="text-warning">0</h1>
                  <div class="container bg-dark" style="padding: 3px"></div>
                  <h1>учеников</h1>
              </div>
              <div  class="col-4">
                  <h1 class="text-warning">0</h1>
                  <div class="container bg-dark" style="padding: 3px"></div>
                  <h1>школ</h1>
              </div>
              <div class="col-4">
                  <h1 class="text-warning">0</h1>
                  <div class="container bg-dark" style="padding: 3px"></div>
                  <h1>классов</h1>
              </div>
          </div>
              </div>

      </div>
      <br>
  </div>
    <br>
    <br>
        <div class="container">

    </div>
        </div>


<div class="section padding-top-bottom over-hide background-dark z-bigger-2">
    <div class="container">

    <div class="row">
      <div class="col-md-3">
        <a href="https://vk.com/thestrikem" class="hover-target">
          <h1 class="text-muted">StrikeCode Studio</h1>
        </a>
          <br>
        <p class="text-muted h4">Все права защищены. StrikeCode Studio© 2020</p>

      </div>
      <div class="col-md-6">
          <br>
          <h4 class="text-center text-muted">Email:</h4>
          <p class="text-light">info@strikednevnik.com</p>
          <br>
          <h4 class="text-center text-muted">Telegram-Bot:</h4>
          <p class="text-light">@strikednevnik</p>
          <br>
          <h4 class="text-center text-muted">Phone:</h4>
          <p class="text-light">+998909217702</p>
          <br>
      </div>
        <div class="col-md-3">
            <br>
            <h4 class="text-center"><a href="" class="hover-target">API</a></h4>
            <h4 class="text-center"><a href="" class="hover-target">Пользовательское соглашение</a></h4>
        </div>
    </div>
  </div>


<div class="scroll-to-top hover-target"></div>

<div class='cursor' id="cursor"></div>
<div class='cursor2' id="cursor2"></div>
<div class='cursor3' id="cursor3"></div>

  <script>
    window.onload = function () {
      document.body.classList.add('loaded_hiding');
      window.setTimeout(function () {
        document.body.classList.add('loaded');
        document.body.classList.remove('loaded_hiding');
      }, 3000);
    }
  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://codepen.io/ig_design/pen/GPVXVx.js"></script>
<script src="https://codepen.io/ig_design/pen/omQXoQ.js"></script>
<script src="static/js/main.js"></script>
{% endblock %}